* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: default;
}

body {
  background-image: url("assets/img/start-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 160px;
}

.menuContainer {
  background-color: #7fbcf1eb;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.6),
    0 6px 20px 0 rgba(142, 243, 245, 0.6);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
  padding: 40px 64px;
  width: 100%;
  height: 100%;
}

.navBtnContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

h1 {
  color: white;
  text-shadow: 4px 2px black;
  font-size: 58px;
}

h3 {
  color: white;
  text-shadow: 2px 2px black;
  font-size: 32px;
  padding-bottom: 12px;
  padding-top: 24px;
}

ul {
  padding-left: 10%;
  color: rgb(254, 252, 255);
  font-size: 24px;
}

p {
  font-size: 24px;
  color: rgb(254, 252, 255);
}

button {
  height: 52px;
  width: 250px;
  border-radius: 25px;
  font-size: 24px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  color: #2494f5;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: #2494f5;
  color: white;
}

img {
  width: 80%;
}
